/* src/main/resources/static/css/style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#endpoint-list li a {
    color: blue;
    text-decoration: none;
}

#endpoint-list li a:hover {
    text-decoration: underline;
}

#data-display {
    margin-top: 20px;
}
